#!/bin/sh
xwallpaper --zoom ~/Pictures/wallpaper.png &
picom --config ~/.config/picom/picom.conf &
uco &
weather &
statusbar &
xrdb ~/.xresources &
mpd &

# Disable hibernation
xset -dpms; xset s off &
# Increase key speed via a rate change
xset r rate 300 55
# Map the caps lock key to super
setxkbmap -option caps:super
# But when it is pressed only once, treat it as escape.
killall xcape 2>/dev/null ; xcape -e 'Super_L=Escape'
